@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/Login_v6/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/css/util.css">
<link rel="stylesheet" type="text/css" href="/Login_v6/css/main.css">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <section>
                <form class="login100-form validate-form" id="account" method="post">
                    <span class="login100-form-title p-b-70">
                        Welcome
                    </span>
                    <span class="login100-form-avatar">
                        <img src="/Login_v6/images/128-1280822_check-mark-box-clip-art-blue-admin-icon.png" />
                    </span>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group wrap-input100 validate-input m-t-85 m-b-35 ">
                        <input asp-for="Input.Email" class="form-control input100" />
                        <span asp-validation-for="Input.Email" class="text-danger focus-input100" ></span>
                    </div>
                    <div class="form-group wrap-input100 validate-input m-b-50">
                        <input asp-for="Input.Password" class="form-control input100" />
                        <span asp-validation-for="Input.Password" class="text-danger focus-input100" ></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}