@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Lekkerbek</h1>

</div>
<div class="row">
    <div class="col">
        <a class="nav-link  btn btn-primary" role="button" asp-area="" asp-controller="Bestellingen" asp-action="Index">Naar Bestellingen</a>
    </div>
    <div class="col">
        <a class="nav-link  btn btn-primary" role="button" asp-area="" asp-controller="Klants" asp-action="Index">Naar Klanten</a>
    </div>
</div>
