@model Lekkerbek12Gip.Models.Klant

@{
    ViewData["Title"] = "Edit";
}

<h1>Profiel bewerken</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KlantId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geboortedatum" class="control-label"></label>
                <input asp-for="Geboortedatum" class="form-control" />
                <span asp-validation-for="Geboortedatum" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Klant")) 
            {
                <div class="form-group">
            <label asp-for="emailadres" class="control-label"></label>
            <input asp-for="emailadres" class="form-control" type="email"  readonly/>
            <span asp-validation-for="emailadres" class="text-danger"></span>
                </div>
            }
            else
            {
        <div class="form-group">
            <label asp-for="emailadres" class="control-label"></label>
            <input asp-for="emailadres" class="form-control" type="email" />
            <span asp-validation-for="emailadres" class="text-danger"></span>
        </div>
            }
        <div class="form-group">
            <label asp-for="Firma.BtwNummer" class="control-label"></label>
            <input asp-for="Firma.BtwNummer" class="form-control" />
            <span asp-validation-for="Firma.BtwNummer" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Firma.FirmaNaam" class="control-label"></label>
            <input asp-for="Firma.FirmaNaam" class="form-control"/>
            <span asp-validation-for="Firma.FirmaNaam" class="text-danger"></span>
        </div>
            <br />
        <div class="form-group">
            <input type="submit" value="Opslaan" class="btn btn-primary" />
        </div>
        </form>
    </div>
</div>
@if(User.IsInRole("Admin") || User.IsInRole("Kassamederwerker"))
{
<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>
}


