@model Lekkerbek12Gip.Models.Bestelling

@{
    ViewData["Title"] = "Create";
}

<h1 id="best">Bestelling </h1>

<h4>Aanmaken</h4>

<hr />
<div class="row">
    <div class="col-md-4">

        <br />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (ViewBag.Klant != null && ViewBag.Klant.KlantId!=null)
                {
                <input type="text" asp-for="KlantId" value=@ViewBag.Klant.KlantId  readonly/>
                <span asp-validation-for="KlantId" class="text-danger"></span>
                }
                else {
                <label asp-for="KlantId" class="control-label">Klant </label>
                <select asp-for="KlantId" class="form-control" asp-items="ViewBag.KlantSelect"></select>
                <span asp-validation-for="KlantId" class="text-danger"></span>
                }
            
            </div>
            <div class="form-group">
                <label asp-for="SpecialeWensen" class="control-label"></label>
                <select asp-for="SpecialeWensen" asp-items="Html.GetEnumSelectList<Bestelling.SpecialWensen>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input id="orderDate" asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfhaalTijd" class="control-label"></label>
                <input asp-for="AfhaalTijd" class="form-control" />
                <span asp-validation-for="AfhaalTijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="button" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
<div>
    <a asp-action="Index">Terug naar Bestellingslijst</a>
</div>
